html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

a:hover {
  cursor: pointer;
}

a {
  background-color: #4400ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  box-shadow: 0 9px #7e7bff;
}

a:hover {
  background-color: #04a3ff;
}

a:active {
  box-shadow: none;
  top:5px;
}

site-intro {
    display: block;
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

h1,
h2,
h3 {
    color:#BB1B47;
    font-family: 'Arial Black', Gadget, sans-serif;
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}