html {
    box-sizing: border-box;
font-family:jumpman;
color:#ff0000;
}

*,
*:before ,
*:after {
  box-sizing: inherit;
}

body {
    background-image: url(forest-6761846_1280.jpg); /*forest background*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background attachment: fixed;
}

h1,
h2,
section {
 background-image: url(rain-10807.gif); /*rain falls in background*/
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
    float: left;
}

h1,
h2,
footer,
.rules,
.form,
.firstName,
.gameType,
.explanation,
.agreement  {
    font-family: jumpman;
    float: left;
      color: #ff0000;
    text-align: center;
    margin: 2rem auto;
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(166, 201, 151, 0.8);
  }
  
nav {
    text-align: center;
    margin-bottom: 3.5rem;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #1bdf73;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 2px solid #119138;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

  input[type=text],
  input[type=gameType], 
  input[type=explanation],
  input[type=agreement],
 input[type=checkbox] {
 padding: 10px;
 margin: 2px 0;
 border: none;
  border-radius: 8px;
}

textarea {
    border-radius: 8px;
}

input[type=checkbox]{
    width: 18px;
    height: 18px;
    cursor: pointer;
}

select {
  height: 20px;
}

button {
    display: block;
    margin: 2rem auto 0 auto;
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #df1b1b;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

button[type=submit] {
  margin-top: 2rem;
  float: center;
}

footer {
    text-align: center;
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #555;
}