html {
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif sans-serif;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

nav {
    background-color: #8d43d3;
    margin: 0 auto 30px;
    width: 1000px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px;
}

nav li {
    text-transform: uppercase;
    font-weight: bold;
    list-style-type:none;
}

nav a {
    text-decoration: none;
    color: rgb(213, 198, 255);
}
nav a:hover,
nav a:active {
    text-decoration: underline;
    background-color: #3b0cbe;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent {
    display: grid;
    width: 1200px;
    height: 700px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr); /* 4 columns each using 1 fraction of overall width */
    grid-template-rows: repeat(3, 1fr); /* 3 rows each using 1 fraction of overall height */
    grid-row-gap: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.div1 span {
    font-size: 2.5rem;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 55%;
    color: #a57900;
}

.div1 p {
    font-size: 1.2rem;
    font-style: italic;
    color: #412300;
}

/* grid-area: row-start / column-start / row-end / column-end; */

.div1 {
     grid-area: 1 / 1 / 2 / 1; background-color: #ffd6a5;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div2 {
     grid-area: 1 / 3 / 3 / 0; background-color: #fdffb6; }

.div3 {
     grid-area: 2 / 1 / 4 / 2; background-color: #caffbf; }

.div4 {
     grid-area: 3 / 2 / 4 / 2; background-color: #9bf6ff; }

.div5 {
     grid-area: 2 / 2 / 3 / 3; background-color: #a0c4ff; }

.div6 {
     grid-area: 1 / 3 / 2 / 2; background-color: #bdb2ff; }

.div7 {
     grid-area: 1 / 1 / 3 / 0; background-color: #ffc6ff; }

.div8 {
     grid-area: 2 / 3 / 3 / 4; background-color: #82be9d; }

.div9 {
     grid-area: 3 / 3 / 4 / 5; background-color: #d0f4de; }

.div10 {
     grid-area: 2 / 4 / 3 / 5; background-color:#ffc6ff; }

footer {
    margin-top: 350px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #555555;
    justify-content:center;
}
