/*
  font-family: 'Rock Salt', cursive;
  font-family: 'Rancho', cursive;
*/


html {
    box-sizing: border-box;
    font-family: 'Rancho', cursive;
    font-size: 1.6rem;
    line-height: 125%;
    color: #2b1c00;
    background-color: rgb(102, 58, 0);

}

*,
*:before ,
*:after {
  box-sizing: inherit;
}

nav {
    background-color: rgb(255, 248, 220);
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid rgb(252, 221, 174);
    border-radius: 10px;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav a {
  padding: 25px;
  display: inline-block; 
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(104, 60, 4);
  letter-spacing: 2px;
}

nav a:link,
nav a:visited {
    color: rgb(196, 161, 48);
}
nav a:hover,
nav a:active {
    color: rgb(126, 90, 12);
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(255, 248, 220);
    border: 2px solid rgb(255, 222, 173);
    border-radius: 10px;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 1.25rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(104, 60, 4);
    margin-bottom: 0.5rem;
}

h2{
    font-family: 'Rock Salt', cursive;
    font-size: 1.5rem;
    text-align: center;
color: rgb(104, 60, 4);
}

header {
  margin: 10%
}

img {
    max-width: 30%;
    height: auto;
    display: block;
    margin-right: 5%;
    float: left;  
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    shape-outside: circle(45%);
}

.rate {
    clear:both;
    margin-top: 6%;
    text-align: center;
    font-size: 1.2rem;
}

.ingredients,
.details,
.instructions,
.nutrition {
    width: 50%;
    float: right; 
}

.ingredients,
.details, {
    margin-right: 6%;
    margin-left: 2%; 
}

footer {
  background-color: rgb(243, 164, 95);
  padding: 2% 0;
  color: whitesmoke;
  margin-top: 10px;
 border-radius: 10px;
  
}

blockquote {
  clear:both;
    font-family: 'Rancho', cursive;
    font-size: 1rem;
    width: 300px;
    height: 280px;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgb(255, 232, 141);
    border-radius: 10px;
    max-width: 600px;
    outline: dashed rgb(252, 221, 174);
    outline-offset: 10px;
    margin: 50px auto;
}

footer {
  background-color: rgb(148, 92, 40);
  color: whitesmoke;
  padding: 2% 0;
  margin-top: 10px;
}

footer a {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 235, 197);
}

footer ul {
  list-style-type: none;
  padding: 0;
}

.col1,
.col2,
.col3 {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 29%;
    margin-right: 3.3333%;
}

footer p {
  text-align: center;
  margin-top: 10px;
}